In [12]:
import pandas as pd
import numpy as np
import math

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')
from IPython.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))
pd.set_option('display.max_columns', 500)

In [13]:
data = pd.read_csv('dataset_2024.csv')
data

,throw_id,team_id,fielder_id,fielder_position,thrower_id,thrower_position,receiver_id,receiver_position,exchange_time,throw_pos_x,throw_pos_y,throw_velo_x,throw_velo_y,throw_velo_z,batter_pos_x_at_throw,batter_pos_y_at_throw,batter_velo_at_throw,bounce_pos_x,bounce_pos_y,bounce_velo_x,bounce_velo_y,bounce_velo_z,receiver_pos_x,receiver_pos_y,receiver_dist_from_1b,throw_deflected_by_receiver,start_state,end_state,runs_on_play,batter_result
0,3,11,400,6,400,6,63,3,1.533,-60.116123,132.187283,60.047557,-33.596364,8.583470,26.912908,26.556102,25.787532,38.061389,69.474629,32.814510,-25.452504,7.330194,56.199323,60.187776,8.202015,0,____1,1___1,0,first
1,6,11,228,5,390,4,63,3,0.534,-0.562563,122.821943,51.293917,-45.316519,8.831870,43.396413,44.290491,28.647878,NaN,NaN,NaN,NaN,NaN,59.013134,65.657938,5.047566,0,1___1,1___2,0,first
2,7,8,415,4,415,4,143,3,1.266,1.598751,123.036931,50.049649,-41.717447,5.986785,25.300783,29.970718,25.130428,NaN,NaN,NaN,NaN,NaN,61.037489,64.429134,2.719261,0,123_1,____3,0,out
3,8,8,308,1,308,1,143,3,1.800,25.403185,59.924587,24.019670,3.289158,12.783662,19.699224,15.249905,18.509230,NaN,NaN,NaN,NaN,NaN,63.142075,65.648720,2.069797,0,____1,____2,0,out
4,10,1,314,4,300,6,514,3,0.733,8.957441,126.165878,51.630666,-63.361730,7.811719,40.118296,41.433396,27.318509,NaN,NaN,NaN,NaN,NaN,59.770395,64.046058,3.890504,0,123_1,____3,0,out
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,33189,1,300,6,187,4,63,3,0.567,-0.706883,127.257516,53.870710,-48.222079,0.569104,43.840928,45.840910,27.057959,56.507357,75.363545,35.754607,-32.706535,8.013511,61.579339,66.498556,3.523959,0,123_1,1_3_2,1,first
19996,33190,1,768,7,768,7,63,3,1.134,-72.726998,241.951358,52.787689,-68.618579,11.903586,31.434120,19.604262,2.305322,50.799574,78.224051,23.266336,-30.850832,11.182392,60.859688,61.483396,3.518128,0,1___0,1___1,0,out
19997,33192,1,63,3,300,6,63,3,1.266,7.741671,124.743019,48.088435,-52.227491,8.389313,40.034865,42.092314,20.951101,NaN,NaN,NaN,NaN,NaN,59.986376,65.275522,4.002790,0,1___1,____3,0,out
19998,33193,15,713,4,713,4,313,3,1.200,65.300092,140.347984,-3.137041,-69.775213,9.328455,34.015906,33.508358,19.628322,NaN,NaN,NaN,NaN,NaN,60.946962,64.565955,2.847538,0,____2,____3,0,out
19999,33194,15,313,4,313,4,159,3,1.267,74.672144,137.578015,-10.469619,-57.475439,9.059275,34.938182,34.455421,27.985441,NaN,NaN,NaN,NaN,NaN,61.288824,65.279685,2.866364,0,____0,____1,0,out

In [14]:
data.isna().sum()

throw_id                           0
team_id                            0
fielder_id                         0
fielder_position                   0
thrower_id                         0
thrower_position                   0
receiver_id                        0
receiver_position                  0
exchange_time                      7
throw_pos_x                       13
throw_pos_y                       13
throw_velo_x                      12
throw_velo_y                      12
throw_velo_z                      12
batter_pos_x_at_throw             30
batter_pos_y_at_throw             30
batter_velo_at_throw              30
bounce_pos_x                   18109
bounce_pos_y                   18109
bounce_velo_x                  18109
bounce_velo_y                  18109
bounce_velo_z                  18109
receiver_pos_x                    32
receiver_pos_y                    32
receiver_dist_from_1b             32
throw_deflected_by_receiver        0
start_state                        0
end_state                          0
runs_on_play                       0
batter_result                      0
dtype: int64

In [15]:
data = data.dropna(subset=['exchange_time', 'throw_pos_x', 'throw_pos_y', 
                           'throw_velo_x', 'throw_velo_y', 'throw_velo_z', 
                           'batter_pos_x_at_throw', 'batter_pos_y_at_throw',
                           'batter_velo_at_throw','receiver_pos_x', 'receiver_pos_y',
                           'receiver_dist_from_1b']).reset_index(drop=True)
data

,throw_id,team_id,fielder_id,fielder_position,thrower_id,thrower_position,receiver_id,receiver_position,exchange_time,throw_pos_x,throw_pos_y,throw_velo_x,throw_velo_y,throw_velo_z,batter_pos_x_at_throw,batter_pos_y_at_throw,batter_velo_at_throw,bounce_pos_x,bounce_pos_y,bounce_velo_x,bounce_velo_y,bounce_velo_z,receiver_pos_x,receiver_pos_y,receiver_dist_from_1b,throw_deflected_by_receiver,start_state,end_state,runs_on_play,batter_result
0,3,11,400,6,400,6,63,3,1.533,-60.116123,132.187283,60.047557,-33.596364,8.583470,26.912908,26.556102,25.787532,38.061389,69.474629,32.814510,-25.452504,7.330194,56.199323,60.187776,8.202015,0,____1,1___1,0,first
1,6,11,228,5,390,4,63,3,0.534,-0.562563,122.821943,51.293917,-45.316519,8.831870,43.396413,44.290491,28.647878,NaN,NaN,NaN,NaN,NaN,59.013134,65.657938,5.047566,0,1___1,1___2,0,first
2,7,8,415,4,415,4,143,3,1.266,1.598751,123.036931,50.049649,-41.717447,5.986785,25.300783,29.970718,25.130428,NaN,NaN,NaN,NaN,NaN,61.037489,64.429134,2.719261,0,123_1,____3,0,out
3,8,8,308,1,308,1,143,3,1.800,25.403185,59.924587,24.019670,3.289158,12.783662,19.699224,15.249905,18.509230,NaN,NaN,NaN,NaN,NaN,63.142075,65.648720,2.069797,0,____1,____2,0,out
4,10,1,314,4,300,6,514,3,0.733,8.957441,126.165878,51.630666,-63.361730,7.811719,40.118296,41.433396,27.318509,NaN,NaN,NaN,NaN,NaN,59.770395,64.046058,3.890504,0,123_1,____3,0,out
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19920,33189,1,300,6,187,4,63,3,0.567,-0.706883,127.257516,53.870710,-48.222079,0.569104,43.840928,45.840910,27.057959,56.507357,75.363545,35.754607,-32.706535,8.013511,61.579339,66.498556,3.523959,0,123_1,1_3_2,1,first
19921,33190,1,768,7,768,7,63,3,1.134,-72.726998,241.951358,52.787689,-68.618579,11.903586,31.434120,19.604262,2.305322,50.799574,78.224051,23.266336,-30.850832,11.182392,60.859688,61.483396,3.518128,0,1___0,1___1,0,out
19922,33192,1,63,3,300,6,63,3,1.266,7.741671,124.743019,48.088435,-52.227491,8.389313,40.034865,42.092314,20.951101,NaN,NaN,NaN,NaN,NaN,59.986376,65.275522,4.002790,0,1___1,____3,0,out
19923,33193,15,713,4,713,4,313,3,1.200,65.300092,140.347984,-3.137041,-69.775213,9.328455,34.015906,33.508358,19.628322,NaN,NaN,NaN,NaN,NaN,60.946962,64.565955,2.847538,0,____2,____3,0,out
19924,33194,15,313,4,313,4,159,3,1.267,74.672144,137.578015,-10.469619,-57.475439,9.059275,34.938182,34.455421,27.985441,NaN,NaN,NaN,NaN,NaN,61.288824,65.279685,2.866364,0,____0,____1,0,out

In [16]:
data['thrower_position'].value_counts()

4    6377
6    6367
5    4540
1    1472
9     562
8     271
2     242
7      94
Name: thrower_position, dtype: int64

In [19]:
# containing data to throws by infielders and cleaning the data a little bit
data = data[data['thrower_position'].isin([4,5,6])]
data['throw_dist_from_1b'] = data.apply(lambda x: math.dist([90,90],[x['throw_pos_x'],x['throw_pos_y']]), axis=1)
data['throw_velo'] = data.apply(lambda x: np.sqrt(np.square(x['throw_velo_x'])+np.square(x['throw_velo_y'])+np.square(x['throw_velo_z'])), axis=1)
data['batter_dist_at_throw'] = data.apply(lambda x: math.dist([90,90],[x['batter_pos_x_at_throw'],x['batter_pos_y_at_throw']]), axis=1)
data['bounce_dist_from_1b'] = data.apply(lambda x: math.dist([90,90],[x['bounce_pos_x'],x['bounce_pos_y']]), axis=1)
data['bounce_velo'] = data.apply(lambda x: np.sqrt(np.square(x['bounce_velo_x'])+np.square(x['bounce_velo_y'])+np.square(x['bounce_velo_z'])), axis=1)
data['receiver_dist'] = data.apply(lambda x: math.dist([90,63.63],[x['receiver_pos_x'],x['receiver_pos_y']]), axis=1)
data

,throw_id,team_id,fielder_id,fielder_position,thrower_id,thrower_position,receiver_id,receiver_position,exchange_time,throw_pos_x,throw_pos_y,throw_velo_x,throw_velo_y,throw_velo_z,batter_pos_x_at_throw,batter_pos_y_at_throw,batter_velo_at_throw,bounce_pos_x,bounce_pos_y,bounce_velo_x,bounce_velo_y,bounce_velo_z,receiver_pos_x,receiver_pos_y,receiver_dist_from_1b,throw_deflected_by_receiver,start_state,end_state,runs_on_play,batter_result,throw_dist_from_1b,throw_velo,batter_dist_at_throw,bounce_dist_from_1b,bounce_velo,receiver_dist
0,3,11,400,6,400,6,63,3,1.533,-60.116123,132.187283,60.047557,-33.596364,8.583470,26.912908,26.556102,25.787532,38.061389,69.474629,32.814510,-25.452504,7.330194,56.199323,60.187776,8.202015,0,____1,1___1,0,first,155.931451,69.340470,89.471276,55.847204,42.170532,33.975502
1,6,11,228,5,390,4,63,3,0.534,-0.562563,122.821943,51.293917,-45.316519,8.831870,43.396413,44.290491,28.647878,NaN,NaN,NaN,NaN,NaN,59.013134,65.657938,5.047566,0,1___1,1___2,0,first,96.326828,69.011990,65.278277,NaN,NaN,31.053154
2,7,8,415,4,415,4,143,3,1.266,1.598751,123.036931,50.049649,-41.717447,5.986785,25.300783,29.970718,25.130428,NaN,NaN,NaN,NaN,NaN,61.037489,64.429134,2.719261,0,123_1,____3,0,out,94.372770,65.430531,88.258163,NaN,NaN,28.973534
4,10,1,314,4,300,6,514,3,0.733,8.957441,126.165878,51.630666,-63.361730,7.811719,40.118296,41.433396,27.318509,NaN,NaN,NaN,NaN,NaN,59.770395,64.046058,3.890504,0,123_1,____3,0,out,88.746082,82.106379,69.619677,NaN,NaN,30.232468
5,11,2,312,4,312,4,695,3,1.200,15.075073,138.722464,41.263285,-62.250650,6.230779,39.704962,41.805751,27.578044,NaN,NaN,NaN,NaN,NaN,59.622860,63.940860,4.028031,0,____0,____1,0,out,89.373504,74.944144,69.658283,NaN,NaN,30.378731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19919,33188,1,507,5,507,5,63,3,0.933,-21.462272,54.318477,68.603145,10.954987,5.754307,37.129574,37.198314,28.284878,NaN,NaN,NaN,NaN,NaN,60.758995,63.767877,2.883469,0,1_3_2,____3,0,out,117.034223,69.710223,74.721482,NaN,NaN,29.241330
19920,33189,1,300,6,187,4,63,3,0.567,-0.706883,127.257516,53.870710,-48.222079,0.569104,43.840928,45.840910,27.057959,56.507357,75.363545,35.754607,-32.706535,8.013511,61.579339,66.498556,3.523959,0,123_1,1_3_2,1,first,98.060497,72.303155,63.880241,36.551100,49.115433,28.565059
19922,33192,1,63,3,300,6,63,3,1.266,7.741671,124.743019,48.088435,-52.227491,8.389313,40.034865,42.092314,20.951101,NaN,NaN,NaN,NaN,NaN,59.986376,65.275522,4.002790,0,1___1,____3,0,out,89.294513,71.488384,69.221825,NaN,NaN,30.058698
19923,33193,15,713,4,713,4,313,3,1.200,65.300092,140.347984,-3.137041,-69.775213,9.328455,34.015906,33.508358,19.628322,NaN,NaN,NaN,NaN,NaN,60.946962,64.565955,2.847538,0,____2,____3,0,out,56.080344,70.465888,79.533165,NaN,NaN,29.068110
19924,33194,15,313,4,313,4,159,3,1.267,74.672144,137.578015,-10.469619,-57.475439,9.059275,34.938182,34.455421,27.985441,NaN,NaN,NaN,NaN,NaN,61.288824,65.279685,2.866364,0,____0,____1,0,out,49.986105,59.119451,78.211278,NaN,NaN,28.758531